body{
    background-color: #FFF4E9;
    align-items: center;
    margin: 20px;
    padding: 20px;
    
}
h1{
    
    font-size: 32px;
    text-align: center;
    color:white

}
h2{
    color: #3A229E;
}
h3{
    font-size: 22px;
    color: #FF8A3D;;
}
h4{
    font-size: 18px;
    color:#6B7280;
}
p{
 font-size: 16px;
}
main{
    background-color:  #3C279E;
    color: white;
    size: 20px ;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    box-shadow: #434a59;
    border-color: #FF8A3D;
    border-radius: 5px;
}